@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.home-section .catalogo{
    display: flexbox;
    margin: 1em;
}

.home-section .catalogo .new{
    width: 15%;
    height: 40px;
    border-radius: 40px;
    background: #51aebf;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.home-section .catalogo .new a{
    text-decoration: none;
    color:#fff;
}

.home-section .catalogo .table{
    width: 100%;
    border-collapse: collapse; 
    margin: 25px 0; 
    font-size: 1em; 
    font-family: sans-serif; 
    min-width: 450px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.home-section .catalogo .table thead tr{
    background-color: #51aebf; 
    color: #ffffff; 
    text-align: middle;
}

.home-section .catalogo .table th td{
    padding: 12px 15px; 
}

.home-section .catalogo .table tbody tr { 
    border-bottom: 1px solid #dddddd; 
} 

.home-section .catalogo .table tbody tr:nth-of-type(even) { 
    background-color: #f3f3f3; 
} 
.home-section .catalogo .table tbody tr:last-of-type { 
    border-bottom: 2px solid #020D3F; 
}

.home-section .catalogo .table tbody tr td { 
    text-align: center;
} 

.home-section .catalogo .table tbody tr td a { 
    text-align: center;
    text-decoration: none;
    color: #51aebf;
} 

.home-section .catalogo .table tbody tr td a:hover { 
    color: #020D3F;
} 

.home-section .catalogo .table tbody tr td button { 

    border-radius: 5px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    background-color: #dc143c;
} 
